.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'adv dis'
    'adv1 dis1'
    'adv2 dis2'
    'adv3 dis3'
    'adv4 dis4'
    'adv5 dis5'
    'adv6 dis6'
    ;
}

.grid p, .grid span {
    margin-left: 35%;
    margin-right: 32%;
}

.grid span {
    font-size: 35px;
    margin-bottom: 30px;
}

.grid p {
    margin-bottom: 40px;
    text-decoration: underline;
    font-size: 20px;
    width: max-content;
}

.grid p:hover {
    color: blue;
}

h1.title {
    margin-bottom: 70px;
    padding-right: 30px;
}

.grid pre {
    word-wrap: normal;
    white-space: normal;
}

.grid div p + .dropdown {
    position: absolute;
    padding: 2px 7px;
    margin-left: 14%;
    max-width: 500px;
    z-index: -1;

    transition: 0.3s;
    opacity: 0;

    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    font-size: 14px;
}

.grid div p:hover + .dropdown {
    display: block;
    opacity: 1;
    z-index: 101;
}