header {
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #C0C0C0;
    align-items: center;
    justify-content: center;
}

header * {
    display: inline-block;
}

header ul {
    min-width: 600px;
    font-size: 0;
    list-style-type: none;
    align-items: center;
}

header img {
    position: fixed;
    left: 0;
    margin-left: 20px;
}

header li {
    font-size: 16px;
    margin: 0;
}

header li a {
    display: block;
    text-align: center;
    line-height: 80px;
    width: 230px;
    height: 80px;
    color: black;
    text-decoration: none;
}

@media (max-width: 1050px) {
    header img {
        width: 0;
    }

    header li a {
        width: 150px;
    }
}

header li a.active{
    background-color: #808080;
}

header li a.inactive:hover {
    background-color: #909090;
}

body {
    margin-top: 120px;
    background-size: cover;
}

.main {
    padding-left: 20%;
    padding-right: 20%;
}

.title {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 90px;
    margin-bottom: 20px;
    text-align: center;
}

.contacts {
    padding-left: 40%;
    margin-top: 40px;
}

.grid {
    display: grid;
    align-content: center;
    grid-template-areas: 
    'adv dis'
    'adv1 dis1'
    'adv2 dis2'
    'adv3 dis3'
    'adv4 dis4'
    'adv5 dis5'
    'adv6 dis6'
    ;
}

.grid span {
    font-size: 30px;
    margin-bottom: 25px;
    text-align: center;
}

.grid p {
    text-decoration: underline;
    padding-left: 37%;
    font-size: 18px;
}

.grid p:hover {
    color: blue;
}

h2.title {
    margin-bottom: 70px;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 2px 7px;
    margin: 0;
    z-index: 100;
    font-size: 13px;
    max-width: 500px;
    margin-left: 17%;
}

pre {
    word-wrap: normal;
    white-space: normal;
}

.grid div p:hover + .dropdown {
    display: block;
}