/* restructed zone */
header {
    margin: 0;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 80px;
    background: #C0C0C0;
    align-items: center;
    justify-content: center;
}

header * {
    display: inline-block;
}

header ul {
    min-width: 600px;
    font-size: 0;
    list-style-type: none;
    align-items: center;
}

header img {
    position: fixed;
    left: 0;
    margin-left: 20px;
}

header li {
    font-size: 16px;
    margin: 0;
}

header li a {
    display: block;
    text-align: center;
    line-height: 80px;
    width: 200px;
    height: 80px;
    color: black;
    text-decoration: none;
}

@media (max-width: 1050px) {
    header img {
        width: 0;
    }

    header li a {
        width: 150px;
    }
}

header li a.active{
    background-color: #808080;
}

header li a.inactive:hover {
    background-color: #909090;
}

body {
    margin-top: 120px;
    background-size: cover;
}
/* restricted zone */

p {
    padding-left: 20%;
    padding-right: 20%;
}

.title {
    padding-left: 20%;
    padding-right: 20%;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}